
@{
    ViewBag.Title = "ListaUsuarios";
    Layout = null;
}

<!DOCTYPE HTML>
<link href="~/Content/Costume CSS/StyleSheet1.css" rel="stylesheet" />
<html>
<body>
    <table border="1">
        <tr>

            <td><strong> ID </strong></td>
            <td><strong> Correo </strong></td>
            <td><strong> Username </strong></td>
            <td><strong> Nombre </strong></td>
            <td><strong> Apellido </strong></td>
            <td><strong> Genero </strong></td>
            <td><strong> Celular </strong></td>
            <td><strong> Ocupacion </strong></td>
        </tr>
        @Html.Raw(ViewBag.HtmlStr)
    </table>
</body>
</html>